*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    text-align: center;
    color: white;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 16vmin;
    width: 16vmin;
    border-radius: 2vmin;
    font-size: 8vmin;
    background-color: pink;
    color: black;
}
#rest{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: green;
    color: white;
}
.newbt{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: green;
    color: white;
    margin-left: 1rem;

}
.hide{
    display: none;
}
.hide1{
    display: none;
}
